---
// src/components/FeaturedPosts.astro
import { Card, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

interface Props {
  class?: string
  limit?: number
  title?: string
}

const { class: className, limit = 3, title = 'Últimos artículos' } = Astro.props

const allPosts = await getCollection('blog', ({ data }) => !data.draft)
const featured = allPosts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, limit)
---
<section class:list={[className, 'my-64']}>
  <div class="container">
    <Heading level="h2" class="mb-6">{title}</Heading>

    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {featured.map(({ slug, data }) => (
        <Card
          imageComponent={data.coverImage ?? null} 
          url={`/blog/${slug}`}
          headingLevel="h2"
          title={data.title}
          footer={new Date(data.pubDate).toLocaleDateString('es-ES')}
        >
          {data.description ?? ''}
        </Card>
      ))}
    </div>

    <div class="mt-12">
      <Link href="/blog/" isButton animateOnHover animationType="nudge">
        Leer todos los posts
        <Icon aria-hidden="true" name="lucide:arrow-right" size="1.5rem" />
      </Link>
    </div>
  </div>
</section>
